<div class="ui one column grid container">
  <div class="row">
    <div class="column">
      <h1 class="ui header">Tasks</h1>
      <div class="ui input">
        <input type="text" placeholder="Add new" id="title"
               [(ngModel)]="newTask.title" (keyup.esc)="resetNewTaskTitle()"
               (keydown.enter)="saveNewTask()">
      </div>
    </div>
  </div>
</div>
<div class="ui three column grid container">
  <div class="row">
    <div class='column'>
      <h1 class="ui header">Todo</h1>
      <app-tasks-list [status]="statusEnum.TODO" [tasks]="tasks"></app-tasks-list>
    </div>
    <div class='column'>
      <h1 class="ui header">Doing</h1>
      <app-tasks-list [status]="statusEnum.DOING" [tasks]="tasks"></app-tasks-list>
    </div>
    <div class='column'>
      <h1 class="ui header">Done</h1>
      <app-tasks-list [status]="statusEnum.DONE" [tasks]="tasks"></app-tasks-list>
    </div>
  </div>
</div>

