Django==1.10.2
django-crispy-forms==1.6.1
django-filter==0.15.3
django-guardian==1.4.6
djangorestframework==3.4.7
Markdown==2.6.7
graphene-django>=1.0
django-rest-swagger==2.0.5
coverage==4.2
tox==2.4.1
djangorestframework-camel-case==0.2.0
